

<div class="container">
   
  <div class="row min-vh-100">
    
    <div class="col">

      <h1 class = "text-center my-5 titleFont">
        Points Submission
        </h1>
      <div class="card">

        <div class="card-body">
          <form method="POST" action = "/increasePoints">
            <div class="form-group">
              <label class = "labelTitle">
                School
              </label>

              <select class="form-control" name="teamName">
                <% for (let i = 0; i < schools.length; i++) { %>
                  <option> <%= schools[i] %></option>
                <% } %>
             
              
              
              </select>

            </div>

            <div class="form-group">
              <label>
               Player
              </label>
              <input type="text" class="form-control" name = "player">
            </div>

            <div class="form-group">
              <label>
               Game
              </label>
              <input type="text" class="form-control" name = "game">
            </div>




            <div class="form-group">
              <label>
                Points
              </label>
              <input type="number" class="form-control" name = "points">
            </div>

            <button type="submit" class="btn UVSASEColors">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>