<table class="table">
  <thead>
    <tr class = "text-center">
      <th scope="col">Name</th>
      <th scope="col">Points</th>

    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < result.length; i++) { %>

    <tr class = "text-center">

      <td><%= result[i].name%></td>
      <td><%= result[i].points%></td>
    </tr>

    <% } %>
   
  </tbody>
</table>