
* {
    font-family: 'Raleway', sans-serif;
}


label {
    font-weight: 500;
}

.titlecont {
    color: #009FB7;
    font-size: 3rem;
}

.UVSASEColors {
    color: white !important;
    background-color: #009FB7 !important;
    border-color: #009FB7 !important;
}

.leaderboardRowColor {

    background-color: #114b5f !important;
    border-color: #009FB7 !important;
}

.progress-bar-yellow {
    background-color: #fed766 !important;
}

.rowHeight {
    height: 4rem;
}

.nameFontSize {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

a {
    color: white !important;
   
}

.underLineName {
    text-decoration: none !important;
    border-bottom: 1px solid black;
}

.UVSASENavbarColor {
    background-color: #114B5F !important;
}

.linkColor {
    color: black !important;
    text-decoration: underline;
}