


.imgWidth {
    width: 20%;
}


.maxCardWidth {
    width:200px;
}

.UVSASEColors {
    color: white !important;
    background-color: #009FB7 !important;
    border-color: #009FB7 !important;
}

a {
    color: white !important;
   
}

.underLineName {
    text-decoration: none !important;
    border-bottom: 1px solid black;
}

.UVSASENavbarColor {
    background-color: #114B5F !important;
}

.linkColor {
    color: black !important;
    text-decoration: underline;
}